PORT=5000
DB_HOST=db.awhwmxmhrjmbnackhluf.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Dsnlu@viz#2026
DB_NAME=postgres
DATABASE_URL=postgresql://postgres:Dsnlu%40viz%232026@db.awhwmxmhrjmbnackhluf.supabase.co:5432/postgres
JWT_SECRET=dsnlu_secret_key_2026
